@model congyou.Models.Blog
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "BlogContents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BlogContents</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <h4 style="margin-bottom: 10px;">Files</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Files.ElementAt(0).Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Files.ElementAt(0).Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Files.ElementAt(0).Path)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Files)
            {
                <tr>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.Path)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <h4 style="margin-bottom: 10px;">Comments</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Comments.ElementAt(0).CommenterName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments.ElementAt(0).Content)
                </th>
           
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Comments)
            {
                <tr>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.CommenterName)
                    </td>
                    <td style="padding: 0.1em;">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div style="height: 10px;"></div>
<div>
    <a asp-action="Index"> Back to Blog List </a> |
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="EditBlog" asp-route-id="@Model.BlogId">Edit Blog Text</a>

    }

</div>
