@model congyou.Models.Blog
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "BlogContents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BlogContents</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</div>
<div>
    <h4 style="margin-bottom: 10px;">Photos(Click to view)</h4>
    @foreach (var photo in Model.Photos)
    {
    <div style="padding:0px 25px; margin:0px;"> 
        @*<a asp-action="DisplayPhoto" asp-route-id="@Html.Label(photo.id)">@Html.Label(photo.Name)</a>*@
        
        <img src="@Html.Label(photo.CompletePath)" />
    </div>
    }
</div>
<div>
    <h4 style="margin-bottom: 10px;">Files(Click to download)</h4>
    @foreach (var file in Model.Files)
    {
        <div style="padding:0px 25px; margin:0px;">
            <a asp-action="DownloadFile" asp-route-id="@Html.Label(file.path)">@Html.Label(file.Name)</a>
        </div>
    }
</div>
<div>
    <h4 style="margin-bottom: 10px;">Comments</h4>
    @foreach (var cmt in Model.Comments)
    {
        <div style="padding:0px 25px; margin:0px;">
            @Html.Label(cmt.CommenterName) -
            @Html.Label(cmt.Content)
        </div>
    }
</div>
<div style="height: 10px;"></div>
<div>
    <a asp-action="EditBlog" asp-route-id="@Model.BlogId">Edit Blog</a> |
    <a asp-action="Index">Back to Blog List</a>
</div>
